*{
    margin: 0px;
    font-family: "Inter", sans-serif;
}

#menu-superior{ 
    margin-top: 0px;
    background-color: rgb(30, 30, 30);
    height: 475px;
}

#menu-informacional{
    background-color: #F9F9F9;
    height: 229px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#menu-explicativo{
    background-color: white;
    height: 769px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    align-items: center
}

#menu-formulario{
    background-color: rgb(30, 30, 30);
    height: 638px;
    text-align: center;
}

#texto-heading{
    margin-left: 62px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    padding-top: 201.5px;
}

#texto-description{
    margin-left: 62px;
    margin-top: 24.5px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.numero-informacional{
    color: #000000;
    font-weight: 600;
    font-size: 40px;
    line-height: 28px;
    margin-top: 96px;
    margin-left: 171px;
}

.texto-informacional{
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-top: 10px;
}

#imagem-projeto{
    width: 510px;
    height: 605px;
    border-radius: 30px;
    margin-top: 82px;
    margin-left: 64px;
}

#titulo-explicativo{
    color: #000000;
    font-weight: 500;
    font-size: 40px;
    line-height: 80px;
    margin-left: 77px;
}

#texto-explicativo{
    color: #000000;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    padding-top: 10px;
}

#titulo-formulario{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    padding-top: 87px;
}

input{
    width: 508px;
    height: 72px;
    border-radius: 10px;
    margin-top: 48px;
    font-size: 20px;
    background-color: #FFFFFF;
    padding-left: 10px;
}

button{
    width: 286px;
    height: 74px;
    border-radius: 10px;
    margin-top: 88px;
    font-size: 30px;
    background-color: #C07212;
    color: #FFFFFF;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #f68f11;
    color: #FFFFFF;
    transform: translateY(-5px);
    transition-duration: 0.3s;
    box-shadow: 0px 15px 20px #4b2f0cc2;
    
}

@media only screen and (max-width: 768px){
    #menu-superior{
        height: auto;
        padding-bottom: 20px;
    }

    #texto-heading{
        font-size: 40px;
        line-height: 52px;
        padding-top: 101.5px;
        margin-left: 20px;
    }

    #texto-description{
        font-size: 16px;
        line-height: 24px;
        margin-left: 20px;
    }

    #menu-informacional{
        height: auto;
        grid-auto-flow: row;
        padding-bottom: 50px;
    }

    .numero-informacional{
        font-size: 30px;
        margin: 50px 0px 0px 50px;
    }

    #menu-explicativo{
        height: auto;
        grid-auto-flow: row;
        text-align: center;
    }

    #titulo-explicativo{
        font-size: 30px;
        line-height: 40px;
        margin: 50px 20px 20px 20px;
    }

    #texto-explicativo{
        font-size: 18px;
        line-height: 24px;
        padding: 0px 20px 50px 20px;
    }

    #imagem-projeto{
        width: 90%;
        height: auto;
        margin: 0px 0px 50px 5%;
    }

    #menu-formulario{
        height: auto;
        padding-bottom: 50px;
    }

    #titulo-formulario{
        font-size: 28px;
        padding-top: 50px;
    }

    input{
        width: 80%;
    }


    button{
        width: 60%;
        font-size: 24px;
    }
}
